body{
    background-color: #BCE29E;
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("https://wallpaperaccess.com/full/1882035.jpg"); 
    /* background-image: url(/images/background.png); */
}

img{
    height: 250px;
    width: 250px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #feb4b4;
}

.container{
    background-color: #FF8787;
    height: 90vh;
    width: 100vw;
    margin: auto;
    margin-top: 50px;
    border-radius: 25px;
}

.container > h1{
    color:white;
    font-size: 75px;
}

.main-center{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 75px;
    height: 500px;
    width:550px;
    background-color: #FF8787;
    border-radius: 25px;
    color: white;
}

.picture{
    margin: auto;
    padding: 25px;
    height: 50%;
    /* height: 350px;
    width: 400px; */
    text-align: center;
}

#prompt{
    margin: auto;
    padding: 25px;
    padding-bottom: 10px;
    height: 30%;
}

#prompt > h3{
    margin: 25px auto 0px;
    padding: 15px auto;
    font-size: 30px;
    text-align: center;
}

#guess{
    margin: 10px auto;
    /* padding: 20px; */
    height: 40px;
    width: 250px;
}

.butt{
    /* margin: 25px auto; */
    /* padding: 15px; */
    height: 20%;
    text-align: center;
}

.header{
    position: relative;
    top:50px;
    left:25vw;
}

.back{
    text-align: center;
}

.link-box{
    text-align: center;
    color: white;
}

.link-box > a >img{
    border-radius: 25px;
}

.link-box:hover{
    transform: translateY(-5px);
    box-shadow: 3px #fc9393;
}

#links{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 125px;
}

#result{
    margin-bottom: 5px ;
    font-size: 19px;
}

